.vscode/*
*.egg-info
*.egg
__pycache__
*.pyc
.coverage
.pytest_cache/*
scripts/figs/*
.DS_Store
scripts/out/*
scripts/compare_implementation/*
scripts/new_compare/*

texts/main.*
!texts/main.tex

profile.out

