# Byte-compiled / optimized / DLL files
**/__pycache__
*.py[cod]
*$py.class

# Distribution / packaging
.Python
**/*.egg-info
**/*.egg


# Unit test / coverage reports
.tox/
htmlcov/
.coverage
coverage.xml
.mypy_cache/

# Jupyter Notebook
.ipynb_checkpoints

# IDE
# .vscode/

# Documentation
docs/_*/
docs/**/_generated_*/
site/

# Pixi
.pixi/

# Local development
*.log

# macOS
.DS_Store
build/lib/bnl/__init__.py
build/lib/bnl/core.py
build/lib/bnl/data.py
build/lib/bnl/metrics/__init__.py
build/lib/bnl/metrics/flat.py
build/lib/bnl/metrics/hier.py
build/lib/bnl/metrics/utils.py
build/lib/bnl/ops.py
build/lib/bnl/resources/manifest_cloud_boolean.csv
build/lib/bnl/viz.py