# Byte-compiled / optimized / DLL files
**/__pycache__
*.py[cod]
*$py.class

# Distribution / packaging
.Python
**/*.egg-info
**/*.egg


# Unit test / coverage reports
.tox/
htmlcov/
.coverage
coverage.xml
.mypy_cache/

# Jupyter Notebook
.ipynb_checkpoints

# IDE
# .vscode/

# Documentation
docs/_*/
docs/**/_generated_*/
site/

# Pixi
.pixi/

# Local development
*.log

# macOS
.DS_Store